
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #7c99c8;
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    padding: 20px 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/landscape.jpg");
    background-color: rgb(192, 206, 221);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #3b3e6d;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header a {
    text-decoration: none;
    color: #b8b8b8;
  }

  header nav {
   margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: #6fd8db;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
  }
  /*Hero*/
  .hero {
    background-image: url("../images/landscape.jpg");
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }


  .hero-cta{
    text-align: justify;
    text-align-last: left;
    width: 45%;
    margin: 2.1%;
    color: rgb(23, 97, 255);
    font-size: 25px;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .hero-statement{
    border: 3px solid #2f004b;
    background-color: rgba(155, 26, 9, 0.8);
    padding: 20px;
    color: #b8b8b8;
    width: 20%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-size: 30px;
  }
/*About me Grid*/
  .About-Me-item {
    padding: 15px 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: italic;
  }

  .About-Me-item.cancel {
    writing-mode: sideways-rl;
    grid-column: 1;
    grid-row: 1 / -2;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .about-me_img{
      width: 70%;
      height: 25%;
      object-fit: cover;
  }

  .About-Me-container {
    background:none;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr)fr;
    border:none;
    color:  #ffffff;
    font-size: 1.2rem;
    justify-items: start;
  }

  .services {
    background: #fce138;
  }

  .About-Me-wrapper {
    width: 100%;
    background-color: black;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
/*my work grid*/

  .My-Work-item {
    padding: 15px 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: italic;
  }

  .My-Work-item.cancel {
    writing-mode: sideways-rl;
    grid-column: 1;
    grid-row: 1 / -2;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .My-Work_img1{
    width: 85%;
    height: 95%;
    object-fit: cover;
    justify-content: center;
}

.My-Work_img2{
    width: 85%;
    height: 95%;
    object-fit: cover;
    justify-content: center;
}

.My-Work_img3{
    width: 60%;
    height: 45%;
    object-fit: cover;
    justify-content: center;
}



  .My-Work-container {
    background:none;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) fr;
    border:none;
    color:  #ffffff;
    font-size: 1.2rem;
    justify-items: start;
  }

  .My-Work-wrapper {
    width: 100%;
    background-color: grey;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .My-Work-item_2 {
        padding: 15px 0;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-style: italic;
    grid-column: 2 / span 1;
  }
/*Contact Info*/
  .contact {
    background: #042131;
  }

  .contact h2 {
    color: #ffffff;
  }
  .contact-info{
    display: flex;
    justify-content: center;

  }

  .contact-info > * {
    flex: 1;
    margin: 20px;
  }
  
  .contact-info div {
    color: white;
  }

  .contact-info h3 {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
  }
  
  .contact-info p, .contact-info address {
    margin: 15px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    display: flex;
    text-align: center;
  }
  .contact-info a {
    color: #ffffff;

  }

.footer{
    font-size: 12px;
}

 /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
 @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }

    .service-grid-item.basic {
      grid-column: 1;
    }
    
    .service-grid-container {
      grid-template-columns: 1fr 1fr;
    }
  
    .service-grid-item.both {
      grid-column: 1 / -1;
    }
  
    .service-grid-item.cancel {
      transform: none;
      writing-mode: unset;
      grid-column: 1 / -1;
      grid-row: -1;
    }

  }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
  }

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }
  .contact-form {
    order: 3;
  }
}
