
  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #7c99c8;
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    padding: 20px 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/landscape.jpg");
    background-color: rgb(192, 206, 221);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #3b3e6d;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header a {
    text-decoration: none;
    color: #b8b8b8;
  }

  header nav {
   margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: #6fd8db;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
  }
  /*Hero*/
  .hero {
    background-image: url("../images/landscape.jpg");
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }


  .hero-cta{
    text-align: justify;
    text-align-last: left;
    width: 45%;
    margin: 2.1%;
    color: rgb(23, 97, 255);
    font-size: 25px;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .hero-statement{
    border: 3px solid #2f004b;
    background-color: rgba(155, 26, 9, 0.8);
    padding: 20px;
    color: #b8b8b8;
    width: 20%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-size: 30px;
  }
/*About me Grid*/
  .About-Me-item {
    padding: 15px 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: italic;
  }

  .About-Me-item.cancel {
    writing-mode: sideways-rl;
    grid-column: 1;
    grid-row: 1 / -2;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .about-me_img{
      width: 70%;
      height: 25%;
      object-fit: cover;
  }

  .About-Me-container {
    background:none;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr)fr;
    border:none;
    color:  #ffffff;
    font-size: 1.2rem;
    justify-items: start;
  }

  .services {
    background: #fce138;
  }

  .About-Me-wrapper {
    width: 100%;
    background-color: black;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
/*my work grid*/

  .My-Work-item {
    padding: 15px 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: italic;
  }

  .My-Work-item.cancel {
    writing-mode: sideways-rl;
    grid-column: 1;
    grid-row: 1 / -2;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .My-Work_img1{
    width: 85%;
    height: 95%;
    object-fit: cover;
    justify-content: center;
}

.My-Work_img2{
    width: 85%;
    height: 95%;
    object-fit: cover;
    justify-content: center;
}

.My-Work_img3{
    width: 60%;
    height: 45%;
    object-fit: cover;
    justify-content: center;
}



  .My-Work-container {
    background:none;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) fr;
    border:none;
    color:  #ffffff;
    font-size: 1.2rem;
    justify-items: start;
  }

  .My-Work-wrapper {
    width: 100%;
    background-color: grey;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .My-Work-item_2 {
        padding: 15px 0;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-style: italic;
    grid-column: 2 / span 1;
  }